---
# Config File for the Auerswald Config Switcher

# PBX IP Address
auer_address: 192.168.0.240

# PBX User
auer_admin_user: admin

# PBX Password
auer_admin_pass: secret

# SSH Tunnel needed?
ssh_tunnel: true
ssh_host: example.com
ssh_port: 22
ssh_user: user
ssh_pass: secret
